.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: white;
    height: 100%;
    position: absolute;
    box-shadow: 1px 0px 4px #8a888879;
}

.unavailableCard{
    background-color: #D61C4E;
}

.availableCard{
    background-color: #41ab4a;
}